Allow EA bit length of 0

Currently, entering an EA bit length of 0 results in a "Missing Parameter" error. This is allowed in the RFC.

RFC-7597 Section 5.2 states:
The offset of the EA bit field in the IPv6 address is equal to the BMR Rule IPv6 prefix length.  The length of the EA bit field (o) is given by the BMR Rule EA-bit length and can be between 0 and 48.  A length of 48 means that the complete IPv4 address and port are embedded in the End-user IPv6 prefix (a single port is assigned).  **A length of 0 means that no part of the IPv4 address or port is embedded in the address.**  The sum of the Rule IPv6 Prefix length and the Rule EA-bit length MUST be less than or equal to the End-user IPv6 prefix length.

Note: There are a number of potentially less common configurations that need to be considered for addition to the current functionality.


This is easy to enable in parameter entry by adding:
```
elif p == '-EABITS-' and values[p] == 0:
   allow = 'yes'
```
to the `if event == '-ENTER_PARAMS-'` section, but subsequent operations cause a crash.